{% extends 'base/base.html' %}

{% block title %}
Product Details
{% endblock %}

{% block content %}

<section class="d-flex" id="productImageCarousel">
    <div class="w-50 mt-3">
        {% include 'products/includes/productImageCarousel.html' %}
    </div>


    <section class="w-50 ">
        <div class="col">
            <img src="{{product.thumbnail.url}}" alt="" height="300px" class="w-100 mt-3 object-fit-contain">
        </div>

        <div class="col">

            <h2>{{product.title}}</h2>
            <p>
                {{product.desc}}
            </p>
            <p>
                Rs. {{product.price}}
            </p>
            <div class="d-flex flex-row justify-content-around mt-5">

                <a href="" class="btn btn-primary w-25">Add to Cart</a>
                <a href="{% url 'edit_product' product.pk %}" class="btn btn-warning w-25">Edit</a>
                <a href="{% url 'delete_product' product.pk %}" class="btn btn-danger w-25">Delete</a> 
                
            </div>
            <div class="d-flex justify-content-center m-auto mt-3">
                <a href="" class="btn btn-secondary w-75">Add Media</a>
                </div>
        </div>


    </section>
</section>




{% endblock %}