* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Carousel Css */

.carousel-inner{
                img {
                    height: 400px;
                    width: 100%;
                    object-fit: cover;
                }
            }

/* div.carousel{
  
    div.carousel-inner{

        div.carousel-item{
            
            
        }
    }
}  */


/* ProductCard Css */
#product-container {
    padding-top: 70px;

    .card {
        transition: 500ms;

        img {
            height: 250px;
            object-fit: contain;
        }

        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }


}

.card:hover {
    transform: translateY(-4px);
    transition: 500ms;
    box-shadow: 3px 3px 3px rgb(188, 186, 186);
}