<section>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            {% if product.images.all %}
            {% for media in product.images.all %}
            {% if media.img %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">

                <img src="{{media.img.url}}" class="d-block w-100" alt="{{ media.caption }}">

                <div class="carousel-actions" 
                      style="margin-left: 400px;">
                    <a href="{% url 'edit_prod_image' media.pk %}" class="btn btn-light edit" >
                      Edit
                    </a>
                    
                    <a href="{% url 'del_prod_image' media.pk %}"  class="btn btn-light delete text-danger ">
                      Delete
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="carousel-item active">
                <img src="/media/defaults/no-image.png" class="d-block w-100" alt="">
            </div>
            {% endif %}

            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>